* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #857f7f; /* Fundo levemente cinza */
}
#professor{width: 30%;height: auto; border-radius: 150px;}
img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.imagemsite {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Estilos para Dispositivos Móveis */
@media (max-width: 768px) {
    .logo {
        max-height: 10%;
    }
    .imagemsite {
        border-radius: 5px; /* Reduz a borda da imagem para dispositivos móveis */
    }
}
@media (max-width: 360PX) {
    .logo {
        max-height: 10%;
    }
    .imagemsite {
        border-radius: 5px; /* Reduz a borda da imagem para dispositivos móveis */
    }}
/* Estilos para Desktop */
@media (min-width: 769px) {
    .logo {
        max-height: 5%;
    }
}
@keyframes blinker {
    50% {
      opacity: 0;
    }}
/* Estilos para o Cabeçalho */
.cabecalho {
    background: linear-gradient(to bottom, #1c04a5, #faf6f6); /* Gradiente rosa */
    color: #fff; /* Texto branco */
    width: 100%;
    height: auto;
    align-items: center;
    font-size: 2rem; /* Tamanho de fonte maior */
    padding: 3rem; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
}

/* Estilos para o Rodapé */
footer {
    background: linear-gradient(to bottom, #faf6f6, #1c04a5); 
    color: #fff; /* Texto branco */
    width: 100%;
    text-align: center;
    padding: 2rem 0; /* Mais espaço no rodapé */
    text-shadow: 1px 1px 1px #000;
}
figcaption{font-size: 1rem;color: #ffffff; text-align: center;}
/* Estilos para Títulos */
h1  {max-width: 100%; max-height: auto;
    font-size: 2rem; /* Tamanho de fonte maior */
    text-align: center;
    color: #000; /* Rosa */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); 
    margin: 2rem 0; /* Mais espaço entre os títulos */
}

h2 {
    color: #6740f3;text-align: center;
    font-size: 1.5rem; 
    margin: 1.5rem 0;
    text-shadow: 1px 1px 1px #0a0a0a;
}

#atencao {
    font-size: 2rem; 
    color: #f00b0b; 
    text-align: center;
    margin: 1.5rem 0;
    text-shadow: 1px 1px 1px #0a0a0a;
    animation: blinker 1s linear infinite;
}

h6 {
    text-align: center;
}

/* Estilos para Parágrafos */
p {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem; 
    color: #ffa600; 
}

/* Estilos para Conteúdos */
.conteudotopo {
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1.8rem;
    text-align: center;
    margin-top: 0;
    max-width: 95%;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}
a button{text-decoration: none;
font-size: 1rem;font-weight: bold; background-color: rgb(0, 0, 255, 0.5); padding: 10; border-radius: 10px;}
a button:houver{color: #9b0b0b; border: solid 1px ; background-color: rgb(40, 10, 255, 0.5)}